.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1496526311033-8a80ae14a1f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.container {
  width: 900px;
  margin: auto;
  color: white;
}

.btn-primary {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
